In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [2]:
coll=pd.read_csv('College_Data')
coll.head()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

In [3]:
x=coll.drop('Unnamed: 0',axis=1)

In [4]:
le=LabelEncoder()
x['Private']=le.fit_transform(x['Private'])

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
sc=StandardScaler()

In [7]:
x.skew()

Private       -1.021933
Apps           3.723750
Accept         3.417727
Enroll         2.690465
Top10perc      1.413217
Top25perc      0.259340
F.Undergrad    2.610458
P.Undergrad    5.692353
Outstate       0.509278
Room.Board     0.477356
Books          3.485025
Personal       1.742497
PhD           -0.768170
Terminal      -0.816542
S.F.Ratio      0.667435
perc.alumni    0.606891
Expend         3.459322
Grad.Rate     -0.113777
dtype: float64

In [8]:
x.describe(percentiles=[0.05,0.25,0.50,0.75,0.95,0.98,0.997]).round()

,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0,777.0
mean,1.0,3002.0,2019.0,780.0,28.0,56.0,3700.0,855.0,10441.0,4358.0,549.0,1341.0,73.0,80.0,14.0,23.0,9660.0,65.0
std,0.0,3870.0,2451.0,929.0,18.0,20.0,4850.0,1522.0,4023.0,1097.0,165.0,677.0,16.0,15.0,4.0,12.0,5222.0,17.0
min,0.0,81.0,72.0,35.0,1.0,9.0,139.0,1.0,2340.0,1780.0,96.0,250.0,8.0,24.0,2.0,0.0,3186.0,10.0
5%,0.0,330.0,272.0,119.0,7.0,26.0,510.0,20.0,4602.0,2736.0,350.0,500.0,44.0,53.0,8.0,6.0,4796.0,37.0
25%,0.0,776.0,604.0,242.0,15.0,41.0,992.0,95.0,7320.0,3597.0,470.0,850.0,62.0,71.0,12.0,13.0,6751.0,53.0
50%,1.0,1558.0,1110.0,434.0,23.0,54.0,1707.0,353.0,9990.0,4200.0,500.0,1200.0,75.0,82.0,14.0,21.0,8377.0,65.0
75%,1.0,3624.0,2424.0,902.0,35.0,69.0,4005.0,967.0,12925.0,5050.0,600.0,1700.0,85.0,92.0,16.0,31.0,10830.0,78.0
95%,1.0,11066.0,6979.0,2757.0,65.0,93.0,14478.0,3304.0,18498.0,6382.0,766.0,2489.0,95.0,98.0,21.0,46.0,17975.0,94.0
98%,1.0,14533.0,9965.0,3573.0,80.0,96.0,19432.0,5160.0,19296.0,6760.0,977.0,3096.0,97.0,99.0,23.0,52.0,25048.0,98.0
99.7%,1.0,20087.0,14488.0,5874.0,95.0,100.0,28426.0,9922.0,19963.0,7399.0,1464.0,4259.0,100.0,100.0,28.0,60.0,42546.0,100.0
max,1.0,48094.0,26330.0,6392.0,96.0,100.0,31643.0,21836.0,21700.0,8124.0,2340.0,6800.0,103.0,100.0,40.0,64.0,56233.0,118.0

In [13]:
x.columns[x.skew()>1.96].describe(percentiles=[0.05,0.25,0.50,0.75,0.95,0.98,0.997]).round()

AttributeError: 'Index' object has no attribute 'describe'

In [10]:
x.skew()

Private       -1.049275
Apps           2.210582
Accept         2.390527
Enroll         2.475307
Top10perc      1.447416
Top25perc      0.266951
F.Undergrad    2.438041
P.Undergrad    3.407345
Outstate       0.509733
Room.Board     0.456341
Books          1.338386
Personal       1.780586
PhD           -0.708354
Terminal      -0.802972
S.F.Ratio      0.727715
perc.alumni    0.607195
Expend         2.699109
Grad.Rate     -0.117741
dtype: float64

In [11]:
x['Accept'].describe()

count      761.000000
mean      1880.734560
std       2051.458436
min         72.000000
25%        595.000000
50%       1100.000000
75%       2297.000000
max      13243.000000
Name: Accept, dtype: float64