In [6]:
import pandas as pd
import numpy as np
a=[1,2,3,4,5]
s1=pd.Series(a)
print(type(s1))
print(s1.dtype)
print(s1)

<class 'pandas.core.series.Series'>
int64
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
d=[1,2,3,4]
s2=pd.Series(d)
s2

0    1
1    2
2    3
3    4
dtype: int64

In [11]:
print(pd.Series(d,index=['a','b','c','d']))

a    1
b    2
c    3
d    4
dtype: int64

In [15]:
dic={'a':1,'b':2,'c':3}
s3=pd.Series(dic)
s3

a    1
b    2
c    3
dtype: int64

In [22]:

d={'RollNo':'Name',1:'ram',2:'raka',3:'amal',4:'kamal'}

print(pd.Series(d))

RollNo     Name
1           ram
2          raka
3          amal
4         kamal
dtype: object

In [26]:
d=[1,2,3,4]
s3=pd.Series(d)
l=s3.to_list()
l

[1, 2, 3, 4]

In [35]:
s4=pd.Series([1,2,'python',3.4,5])
print(s4.dtype)
s5=pd.to_numeric(s4,errors='coerce')
s5

object

0    1.0
1    2.0
2    NaN
3    3.4
4    5.0
dtype: float64

In [36]:
squre=lambda x:x**2
squre(5)

25

In [37]:
sum=lambda a,b,c:a**2+b**2+c**2
sum(1,2,3)

14

In [40]:
from math import pi
area=lambda rad:pi*rad**2
area(5)

78.53981633974483

In [45]:
#map func
lst=[1,2,3,4,5]
l1=tuple(map(lambda x:x**2,lst))
l1

(1, 4, 9, 16, 25)

In [46]:
l=[20,30,40,50]
cel=list(map(lambda x:x*9/5+32,l))
cel

[68.0, 86.0, 104.0, 122.0]

In [49]:
l=[2,3,4,5]
odd=list(filter(lambda x:x%2!=0,l))
odd

[3, 5]

In [50]:
l=list(range(101))
mul=list(filter(lambda x:x%5==0,l))
mul

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [53]:
import math as m
sq=list(filter(lambda x:m.sqrt(x)%1==0,range(101)))
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [60]:
from functools import reduce
l=[2,3,4,5]
l1=reduce(lambda x,y:x+3,l)
l1

11